:root {
  --sidebarInlineSize: 15rem;
  --minBlocksize: 37.5rem;
  --minInlinesize: 48rem;
  --buttomSize: 5.5rem;
}

.layout {
  min-inline-size: var(--minInlinesize);
}
.layout-sidebar {
  block-size: calc(100vh - var(--buttomSize));
  min-block-size: var(--minBlockSize);
  inline-size: var(--sidebarInlineSize);
  overflow: auto;
  flex-shrink: 0;
}

.layout-page {
  block-size: calc(100vh - var(--buttomSize));
  min-block-size: var(--minBlockSize);
  overflow: auto;
}

.layout-bottom {
  flex: 1;
  block-size: var(--buttomSize);
}
.layout-main {
  display: flex;
}
