.menuItem {
}

.menuItem a {
  font: var(--button);
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  block-size: 2.5rem;
  inline-size: 2.5rem;
}

.menuItem a:hover {
  text-decoration: none;
}

.menuItem [class^="icon-"] {
  font-size: 1.5rem;
}

.menuItem.is-active a {
  box-shadow: inset 4px 0 0 var(--primary);
  color: var(--white);
}

.menuItem.is-active .icon-home::before {
  content: "\e90a";
}
.menuItem.is-active .icon-search::before {
  content: "\e914";
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
